<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+SC">
  <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css">
  <title>News Scraper Delight</title>
</head>
<body>

  {{{body}}}
  
</body>
</html>